# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Jest coverage
coverage/

# Angular build output
dist/
.angular/

# OS
.DS_Store
Thumbs.db
